body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  box-sizing: content-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
section {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --text--gray: #101828;
  --bg--gray: #eaecf0;
  --bg--white: #ffffff;
  --bg--hover--gray: #d0d5dd;
  --bg--blue: #1570ef;
  --bg--focused--gray: linear-gradient(0deg, #eaecf0, #eaecf0),
    linear-gradient(0deg, #98a2b3, #98a2b3);
}

input::placeholder,
textarea::placeholder,
button {
  font-family: "Inter", sans-serif;
}
